<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">


	</head>
	
	<body>
		<div class="container">
			<div class="dropdown menu">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index">Home</a></li>
						<li><a href="/newEntry">New Entry</a></li>
						<li><a href="/login">Logout</a></li>
					</ul>
			</div>

			<div>
        		<h2 class="marimon" style="font-size:160%; margin:30px; text-align:center; color:black;"> 2017 </h2>
       		</div>

       		<center>
				<a href = "/pastEntry1">
					<img src = "images/main1.png" width="69%">
				</a>

				<a href ="/pastEntry2">
					<img src = "images/main2.png" width="69%">
				</a>
			</center>
				       		
			<div>
				<a href = "/newEntry">
					<img src = "images/Plus.png" class="plus" style = "position: absolute; right: 20px; bottom: 40px;">
				</a>
			</div>

			<div>
				<a href = "/information">
					<img src = "https://openclipart.org/image/2400px/svg_to_png/213219/Information-icon.png" class="information" style = "max-width: 40px; max-height: 40px; position: absolute; left: 20px; bottom: 40px;">
				</a>
			</div>


		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		
		<script src="js/bootstrap.js"></script>



	</body>

</html>


