<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	

	</head>
	
	<body style="background-color:#E6F3CA" >

		<div class="container">
			<div style = "position:center" >
				<a href="/index">
					<img src="images/back button.png" class="back">
				</a>

				<span class="date">Information</span>

				<div class="dropdown menu">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index"> Home </a></li>
						<li><a href="/newEntry"> New Entry </a></li>
						<li><a href="/login"> Logout </a></li>
					</ul>
				</div>
			</div>
		

<div class = "info">
	<h3> Marimon is happy when you're happy. <br/><br/> Need to vent? <br/> Tell Marimon how you are feeling, how you're your day has been, etc. <br/><br/> Stressed out? <br/> Catch your breathe with Marimon. <br/><br/> Can't make up your mind? <br/> Ask Marimon to help you decide on your to do list by starting an entry with the words, "to do", for example: to do: exercise, meditate, organize workspace </h3></float>
</div>


		</div> <!-- containers -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/chat.js"></script>


	</body>

</html>

