<html>

	<head>
		<title>Marimon</title>
		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
    	<link href="css/marimon.css" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">


	</head>

	<body>
		<div class="container">

			<div class="form-group" style="padding:100px;">
				<center>

				<h1 class="marimon"> MARIMON </h1>
				<img src="images/marimon logo.png" style="width:90px; height:90px;">

				<h2 class="marimon"> Username </h2>

				<input type="text" class="form-control" placeholder="Type username" size="5">

  				<h2 class="marimon"> Password </h2>

  				<input type="text" class="form-control" placeholder="Type password">

  				<a href = "/index">
					<img src = "images/login.png" style="margin:20px;">
				</a>

				</center>
			</div>
  		
  			



		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.js"></script>

	</body>

</html>