<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	

	</head>
	
	<body style="background-color:#E6F3CA" >

		<div class="container">
			<div style = "position:center" >
				<a href="/index">
					<img src="images/back button.png" class="back">
				</a>

				<span class="date">1/20/2017</span>

				<div class="dropdown menu">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index"> Home </a></li>
						<li><a href="/newEntry"> New Entry </a></li>
						<li><a href="/login"> Logout </a></li>
					</ul>
				</div>
			</div>
		

<!--       		<div class="chat">
       			<img src="images/Marimon face.png" style="width:80px; height:80px">
       			<span > How are you feeling today? </span>
       		</div>

       		<div class="chat answer">
       			<span> I'm feeling great</span>
       		</div> -->

       		<div id = "messagecontainer">
  			<div class = "chatbox" >
  				<div class="question chat">
  					<img src="images/Marimonface.png" style="width:80px; height:80px">
       				<span> How was your day today? </span>
       			</div>
       			<div class="answer chat">
  					<img src="images/4.png" style= "width:32px; height:32px">
       				<span> Today, I had a good day. I ate food with my freinds and we had very interesting conversations. </span>

       			</div>
  			</div>
  			</div>


		</div> <!-- containers -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/chat.js"></script>


	</body>

</html>

