<html>
	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	
	<body style="margin:10; padding:0;" >

		<div class="container">
			<ul>
				<li>Work
					<ul>
						<li>"What did you get done today?"</li>
						<li>"What worked well today?"</li>
					</ul>
				</li>
				<li>Health
					<ul>
						<li>"What did you eat today?"</li>
						<li>"Did you exercise today?"</li>
						<li>"Are you in good health today?"</li>
					</ul>
				</li>
			</ul>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>


	</body>

</html>
